{% extends "base.html" %}
{% block content %}
<div class="item-form small-12 medium-7 large-4 columns">
<h2>Add New item to Catalog</h2>
<form method='post' action='/newitem/' enctype='multipart/form-data'>
	<label> Item name </label>
	<input type='text' name='item-name'>
	<label>Description </label>
	<input type='text' name='item-description'>
	<label>Category </label>
	<select name='category'>
		{% for category in categories %}
			<option value='{{category.name}}'>{{category.name}}</option>
		{% endfor %}
	</select>
	<button type="button" onclick="displayCategorySection()" class="button new-category-button">Create new category</button>
	<div class="new-category-section">
		<h3>New Category Name</h3>
		<input name="new-category" type="text"></input>
		<button class="button" type="button" onclick ="addCategory()" >Add New Category</button>
	</div>
	<br>
	<label>Item Photo</label>
	<input type='file' name='item-image' accept=".png, .jpg, .jpeg"></input>
	<input type='submit' class="button" value="Add Item">
	<a class="button" href="/">Cancel</a>
</form>
</div>
<script>
$(".new-category-section").hide();

function displayCategorySection() {
	$(".new-category-section").show();
	$(".new-category-button").hide();
}

function addCategory() {
    var category_select = document.getElementsByName("category")[0];
		var new_category_name = document.getElementsByName("new-category")[0].value;
    var option = document.createElement("option");
    option.text = new_category_name;
		option.value = new_category_name;
    category_select.add(option);
	category_select.value = option.value;
	$(".new-category-section").hide();
	$(".new-category-button").show();
}
</script>
{% endblock %}
